{% extends "base.html" %}

{% block content %}

{% for p in posts %}
<div class="post">
    <div class="post-heading">
        <div class="post-title">
            <a class="a"  href="/blog/{{p.key().id()}}">{{p.subject}}</a>
        </div>
        <div class="post-date">
            {{p.created_at.strftime("%b %d, %Y, %R")}}
            ---Author:{{p.user_posted}}
        </div>
    </div>

    <div class="post-content">
        {{p.blog_post}}
        <hr>
        Likes:{{p.likes}}
    </div>
</div>
<br><br>
{% endfor %}

{% endblock %}